@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
    font-family: 'Bree Serif', serif; 
}
p, blockquote{
    font-size: 1.3em;
    line-height: 1.6em;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 .kontener, .szovegkontener {
     text-align: center;
     padding: 0.3em 1.2em;
}
  .mogi{
      width: 100px;  


}
 .menu{
     width:55px;
     margin-top: 47%;
 }
 .hide-mobile{
     display: none;
 }
  header{
      display: flex;
      justify-content: space-between;

}
nav ul {
   position: fixed;
   width: 45%;
   top: 0;
   right: 0;
   text-align: left;
   background: rgb(175, 173, 173);
   height: 100%;
   z-index: 7;
   padding-top: 2em;

}  
nav ul li a {
color: white;
text-decoration: none;
width: 100%;
padding: 1em 2em;
line-height: 2em;
} 

  a:link{
      color:black;
      background-color: transparent;
      text-decoration: none;
  }
  a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
 h1, .alresz{
     position: relative;
     z-index: 3;
 }
 h1{
     font-size: xx-large;
 }
 .alresz{
     font-size: 1.1em;
 }
 .vidikontener {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .vidikontener iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .szovegkontener{
      margin-top: 1.6em;
      padding: 1em;
  }
  .team {
    width: 100%;
  }
 .kekkontener{
     width: 100%;
     background: rgb(15, 186, 149) ; 
     color: white;
     padding-bottom: 2em;

 }

  .adress{
      margin-top:2em;
      font-stretch: expanded;
      letter-spacing: 0.05em;
  }
 footer{
     padding: 1em 3em 1em 3em;
    background-color: rgb(65, 64, 64);
    color: white;
 }
  .alair{
      text-align: center;
      font-size: xx-large;
      width: 100%;
      font-style: bold;
      font-family: 'Dancing Script', serif;
  }

  .masikkontener{
      width: 100%;
      font-size: medium;
      display: flex;
      justify-content: space-between;
      text-align: center;
  }
  .exit-btn {
      margin-bottom: 1em;
      margin-top: -1.3em;
      text-align: right;
      padding: 0 1.3em;

  }
  .exit-btn img {
      width: 15px;
      cursor: pointer;
  }

  @media only screen and (min-width:650px) {


      h1{
          font-size: 2.4em;
      }

      .show-desktop{
          display: block;
          margin: 0 auto 13% auto;
      }

      .hide-desktop{
         display: none;
      }
      nav ul{
          position: inherit;
          padding-top: 2em;
          width: auto;
          background: none;
          height: auto;
          display: flex;
      }
      nav ul li {
          float: left;
          font-size: 1.4em;
      }
      nav ul li a {
        color: black;
        background-color: unset;
        padding: 1.8em 1em 1em 2em;

      }

  } 

